# Environment
ENV=development

# Frontend URL
VITE_ENVIRONMENT=placeholder
VITE_BACKEND_URL_PRODUCTION=placeholder
VITE_BACKEND_URL_DEVELOPMENT=placeholder

# Cloudflare R2 Storage
R2_ACCESS_KEY_ID=placeholder
R2_SECRET_ACCESS_KEY_ID=placeholder
R2_ACCOUNT_ID=placeholder

# Bucket Names (Production)
ARTIST_PORTRAIT_BUCKET_NAME_PRODUCTION=placeholder
TRACK_AUDIO_WAV_BUCKET_NAME_PRODUCTION=placeholder
TRACK_AUDIO_AAC_BUCKET_NAME_PRODUCTION=placeholder
TRACK_COVER_BUCKET_NAME_PRODUCTION=placeholder

# Bucket Names (Development)
ARTIST_PORTRAIT_BUCKET_NAME_DEVELOPMENT=placeholder
TRACK_AUDIO_WAV_BUCKET_NAME_DEVELOPMENT=placeholder
TRACK_AUDIO_AAC_BUCKET_NAME_DEVELOPMENT=placeholder
TRACK_COVER_BUCKET_NAME_DEVELOPMENT=placeholder

# Postgres Database
PSQL_PORT_PRODUCTION=placeholder
PSQL_DB_PRODUCTION=placeholder
PSQL_USER_PRODUCTION=placeholder
PSQL_PASSWORD_PRODUCTION=placeholder

PSQL_PORT_DEVELOPMENT=placeholder
PSQL_DB_DEVELOPMENT=placeholder
PSQL_USER_DEVELOPMENT=placeholder
PSQL_PASSWORD_DEVELOPMENT=placeholder

PSQL_HOST_DOCKER=placeholder
PSQL_HOST_LOCAL=placeholder

# Authentication
AUTH_SECRET_KEY=placeholder

# Resend Verification Email
EMAIL_API_KEY=placeholder

# Stripe
STRIPE_SECRET_KEY_PRODUCTION=placeholder
STRIPE_SECRET_KEY_DEVELOPMENT=placeholder
STRIPE_WEBHOOK_SECRET_PRODUCTION=placeholder
STRIPE_WEBHOOK_SECRET_DEVELOPMENT=placeholder
STRIPE_PUBLISHABLE_KEY_PRODUCTION=placeholder
STRIPE_PUBLISHABLE_KEY_DEVELOPMENT=placeholder