# Environment variables
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# A black hole
frontend/node_modules
node_modules

# Stupid mac metadata
.DS_Store

# Any executable in bin/* or root directory
*/bin/*
bin/*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

