# Environment variables
.env
.env.backend.prod
.env.backend.dev
.env.frontend.prod
.env.frontend.dev

web/.env
web/.env.backend.prod
web/.env.backend.dev
web/.env.frontend.prod
web/.env.frontend.dev

# A black hole
web/node_modules

# Stupid mac metadata
.DS_Store

# Any executable in bin/*
bin/*